<%- include('layout/header.ejs')%>

  <main id="main">
    <section class="breadcrumbs">
      <div class="container">
        <div class="d-flex justify-content-between align-items-center">
          <ol>
            <li class="active">
              <a class="breadcrumbs-link" href="/dashboard">Tattoo</a>
            </li>
            <li><a class="breadcrumbs-link" href="/my-order">My all Tattoos</a></li>
            <li><a class="breadcrumbs-link" href="/my-order">Shop</a></li>
            <li><a class="breadcrumbs-link" href="/my-order">My order</a></li>
            <!-- <li><a class="breadcrumbs-link" href="/contacts">Contacts</a></li> -->
            <!-- <li><a class="breadcrumbs-link" href="/profile">Profile</a></li> -->
            <!-- <li><a class="breadcrumbs-link" href="/settings">Settings</a></li> -->
          </ol>
          <!-- <h2>Dashboard</h2> -->
        </div>
      </div>
    </section>

    <section class="inner-page">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-body">
                <form action="/dashboard" method="POST">
                  <div class="row mb-3 text-center">
                    <div class="col-lg-8 offset-lg-2 col-sm-8 offset-sm-2">
                      <%- include('./particials/msg') %>
                    </div>
                  </div>
                  <!-- <div class="row mb-3">
                    <div class="col-lg-5 col-sm-6 offset-lg-2 offset-sm-2 mb-3">
                      <input class="form-control" type="text" name="code" required />
                    </div>
                    <div class="col-lg-3 col-sm-3 text-center">
                      <button class="btn btn-outline-primary btn-block" type="submit">Find</button>
                    </div>
                  </div> -->
                </form>
                <div class="row mb-3">
                  <div class="col text-center">
                    <img src="<%= qr.image %>">
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-lg-6 offset-lg-3 text-center">
                    <% if(qr) {%>
                      <h4><a href="http://c.skanz.live/<%= qr.code%>" target="_blank">http://c.skanz.live/<%= qr.code%>
                            </a></h4>
                      <% } %>
                  </div>
                </div>
                <form action="/update-link" method="POST">
                  <div class="row mb-5">
                    <div class="col-lg-6 offset-lg-2 text-center">
                      <div class="form-group row align-items-center">
                        <label class="control-label col-lg-4 text-lg-right text-center">Embed Link</label>
                        <div class="col">
                          <% if(qr) {%>
                            <input type="text" class="form-control" name="link" placeholder="" value="<%= qr.link%>" />
                            <input type="hidden" class="form-control" name="code" value="<%= qr.code%>" />
                            <% } %>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-2">
                      <button class="btn btn-primary btn-block">Update</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <div class="modal fade" id="chooseType" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <form action="/choose-type" method="POST">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Almost Done!</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <div class="row">
                <div class="col">
                  <div class="mb-4 text-center">
                    <%- include('./particials/msg') %>
                  </div>
                  <div class="form-group">
                    <label for="membertype">Type</label>
                    <select class="form-control" id="membertype" name="membertype" required>
                      <option value="0">I don't have any tattoos and am going to order one.</option>
                      <option value="1">I have already tattoos and identification code.</option>
                    </select>
                  </div>
                  <div class="form-group promocode">
                    <label for="promocode">Identification Code</label>
                    <input type="text" class="form-control" id="promocode" name="promocode" value="-1"
                      placeholder="A000001" required />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Confirm</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <%- include('./particials/foot.ejs')%>
    <script>
      $(function () {
        var newmember = "<%= user.qrcodes.length %>" > 0 ? false : true;
        /* If the user is new member, alert modal to choose order or type the code */
        if (newmember) {
          $('#chooseType').modal({});
        }
        $('.promocode').hide();
        $('#membertype').change(function () {
          if ($(this).val() == 0) {
            $('.promocode').hide();
          } else {
            $('.promocode').show();
          }
        })
      })
    </script>
    </body>

    </html>