<%- include('layout/header.ejs')%>
  <!-- Main content -->
  <!-- Header -->
  <section class="slice slice-sm bg-section-secondary">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-9">
          <!-- Quick stats -->
          <div>
            <!-- Title -->
            <div class="row align-items-center mb-3">
              <div class="col">
                <h6 class="mb-0">User profile</h6>
              </div>
            </div>
            <!-- Quick stats -->
            <div class="row">
              <div class="col-xl-6">
                <div class="card card-fluid">
                  <div class="card-header">
                    <div class="row align-items-center">
                      <div class="col-auto">
                        <!-- Avatar -->
                        <a href="/" class="avatar rounded-circle">
                          <img alt="Image placeholder" src="<%= user.profilePicture %>">
                        </a>
                      </div>
                      <div class="col ml-md-n2">
                        <a href="#!" class="d-block h6 mb-0"><%= user.firstName %> <%= user.lastName %></a>
                        <small class="d-block text-muted"><%= user.email %></small>
                      </div>
                      <div class="col-auto">
                        <a href="/user/edit" type="button" class="btn btn-xs btn-warning btn-icon rounded-pill">
                          <span class="btn-inner--icon"><i data-feather="edit-2"></i></span>
                          <span class="btn-inner--text">Edit</span>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-12  mb-3">
                        <span class="h5 text-sm"><%= user.bio%>
                        </span>
                      </div>
                      <div class="col-12 text-center">
                        <span class="h5 mb-0"><%= user.qrcodes.length %></span>
                        <span class="d-block text-sm">Activated Tattoos</span>
                      </div>
                    </div>
                  </div>
                  <!-- <div class="card-footer py-2">
                    <div class="row align-items-center">
                      <div class="col-6 offset-6 text-right">
                        <button type="button" class="btn btn-xs btn-secondary rounded-pill">Follow</button>
                      </div>
                    </div>
                  </div> -->
                </div>
              </div>
              <div class="col-xl-6">
                <div class="card card-fluid">
                  <div class="card-body">
                    <div class="row align-items-center">
                      <div class="col">
                        <h6 class="text-sm mb-0">
                          <img src="/assets/img/svg/social/facebook.svg" class="social-svg" />
                        </h6>
                      </div>
                      <div class="col-auto">
                        <a href="#" class="text-sm">Connect</a>
                      </div>
                    </div>
                    <hr class="my-3">
                    <div class="row align-items-center">
                      <div class="col">
                        <h6 class="text-sm mb-0">
                          <img src="/assets/img/svg/social/linkedin.svg" class="social-svg" />
                        </h6>
                      </div>
                      <div class="col-auto">
                        <a href="#" class="text-sm">Connect</a>
                      </div>
                    </div>
                    <hr class="my-3">
                    <div class="row align-items-center">
                      <div class="col">
                        <h6 class="text-sm mb-0">
                          <img src="/assets/img/svg/social/twitter.svg" class="social-svg" />
                        </h6>
                      </div>
                      <div class="col-auto">
                        <a href="#" class="text-sm">Connect</a>
                      </div>
                    </div>
                    <hr class="my-3">
                    <div class="row align-items-center">
                      <div class="col">
                        <h6 class="text-sm mb-0">
                          <img src="/assets/img/svg/social/instagram.svg" class="social-svg" />
                        </h6>
                      </div>
                      <div class="col-auto">
                        <a href="#" class="text-sm">Connect</a>
                      </div>
                    </div>
                    <hr class="my-3">
                    <div class="row align-items-center">
                      <div class="col">
                        <h6 class="text-sm mb-0">
                          <img src="/assets/img/svg/social/spotify.svg" class="social-svg" />
                        </h6>
                      </div>
                      <div class="col-auto">
                        <a href="#" class="text-sm">Connect</a>
                      </div>
                    </div>
                    <hr class="my-3">
                    <div class="row align-items-center">
                      <div class="col">
                        <h6 class="text-sm mb-0">
                          <img src="/assets/img/svg/social/pinterest.svg" class="social-svg" />
                        </h6>
                      </div>
                      <div class="col-auto">
                        <a href="#" class="text-sm">Connect</a>
                      </div>
                    </div>
                    <hr class="my-3">
                    <div class="row align-items-center">
                      <div class="col">
                        <h6 class="text-sm mb-0">
                          <img src="/assets/img/svg/social/skype.svg" class="social-svg" />
                        </h6>
                      </div>
                      <div class="col-auto">
                        <a href="#" class="text-sm">Connect</a>
                      </div>
                    </div>
                    <hr class="my-3">
                    <div class="row align-items-center">
                      <div class="col">
                        <h6 class="text-sm mb-0">
                          <img src="/assets/img/svg/social/whatsapp.svg" class="social-svg" />
                        </h6>
                      </div>
                      <div class="col-auto">
                        <a href="#" class="text-sm">Connect</a>
                      </div>
                    </div>
                    <hr class="my-3">
                    <div class="row align-items-center">
                      <div class="col">
                        <h6 class="text-sm mb-0">
                          <img src="/assets/img/svg/social/youtube.svg" class="social-svg" />
                        </h6>
                      </div>
                      <div class="col-auto">
                        <a href="#" class="text-sm">Connect</a>
                      </div>
                    </div>
                    <hr class="my-3">
                    <div class="row align-items-center">
                      <div class="col">
                        <h6 class="text-sm mb-0">
                          <img src="/assets/img/svg/brands/safari.svg" class="social-svg" />
                        </h6>
                      </div>
                      <div class="col-auto">
                        <a href="#" class="text-sm">Connect</a>
                      </div>
                    </div>
                    <hr class="my-3">
                    <div class="row align-items-center">
                      <div class="col">
                        <h6 class="text-sm mb-0">
                          <img src="/assets/img/svg/brands/google-docs.svg" class="social-svg" />
                        </h6>
                      </div>
                      <div class="col-auto">
                        <a href="#" class="text-sm">Connect</a>
                      </div>
                    </div>
                    <hr class="my-3">
                    <div class="row align-items-center">
                      <div class="col">
                        <h6 class="text-sm mb-0">
                          <img src="/assets/img/svg/brands/paypal.svg" class="social-svg" />
                        </h6>
                      </div>
                      <div class="col-auto">
                        <a href="#" class="text-sm">Connect</a>
                      </div>
                    </div>
                    <hr class="my-3">
                    <div class="row align-items-center">
                      <div class="col">
                        <h6 class="text-sm mb-0">
                          <img src="/assets/img/svg/brands/microsoft-store.svg" class="social-svg" />
                        </h6>
                      </div>
                      <div class="col-auto">
                        <a href="#" class="text-sm">Connect</a>
                      </div>
                    </div>
                    <hr class="my-3">
                    <div class="row align-items-center">
                      <div class="col">
                        <h6 class="text-sm mb-0">
                          <img src="/assets/img/svg/brands/google-inbox.svg" class="social-svg" />
                        </h6>
                      </div>
                      <div class="col-auto">
                        <a href="#" class="text-sm">Connect</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Messages and Alerts -->
          <div class="row mb-4">
            <div class="col-md-12">
              <div class="card">
                <!-- Title -->
                <div class="card-header">
                  <h6>Contacts</h6>
                </div>
                <!-- List group -->
                <div class="list-group list-group-flush"><a href="#" class="list-group-item list-group-item-action">
                    <div class="d-flex align-items-center" data-toggle="tooltip" data-placement="right"
                      data-title="2 hrs ago">
                      <div>
                        <img alt="Image placeholder" src="<%= user.profilePicture %>"
                          class="avatar rounded-circle" />
                      </div>
                      <div class="flex-fill ml-3">
                        <div class="h6 text-sm mb-0">Alex Michael <small class="float-right text-muted">2 hrs
                            ago</small></div>
                        <p class="text-sm lh-140 mb-0">
                          Some quick example text to build on the card title.
                        </p>
                      </div>
                    </div>
                  </a>
                  <a href="#" class="list-group-item list-group-item-action">
                    <div class="d-flex align-items-center" data-toggle="tooltip" data-placement="right"
                      data-title="2 hrs ago">
                      <div>
                        <img alt="Image placeholder" src="<%= user.profilePicture %>"
                          class="avatar rounded-circle" />
                      </div>
                      <div class="flex-fill ml-3">
                        <div class="h6 text-sm mb-0">Alex Michael <small class="float-right text-muted">2 hrs
                            ago</small></div>
                        <p class="text-sm lh-140 mb-0">
                          Some quick example text to build on the card title.
                        </p>
                      </div>
                    </div>
                  </a>
                  <a href="#" class="list-group-item list-group-item-action">
                    <div class="d-flex align-items-center" data-toggle="tooltip" data-placement="right"
                      data-title="2 hrs ago">
                      <div>
                        <img alt="Image placeholder" src="<%= user.profilePicture %>"
                          class="avatar rounded-circle" />
                      </div>
                      <div class="flex-fill ml-3">
                        <div class="h6 text-sm mb-0">Alex Michael <small class="float-right text-muted">2 hrs
                            ago</small></div>
                        <p class="text-sm lh-140 mb-0">
                          Some quick example text to build on the card title.
                        </p>
                      </div>
                    </div>
                  </a>
                  <a href="#" class="list-group-item list-group-item-action">
                    <div class="d-flex align-items-center" data-toggle="tooltip" data-placement="right"
                      data-title="2 hrs ago">
                      <div>
                        <img alt="Image placeholder" src="<%= user.profilePicture %>"
                          class="avatar rounded-circle" />
                      </div>
                      <div class="flex-fill ml-3">
                        <div class="h6 text-sm mb-0">Alex Michael <small class="float-right text-muted">2 hrs
                            ago</small></div>
                        <p class="text-sm lh-140 mb-0">
                          Some quick example text to build on the card title.
                        </p>
                      </div>
                    </div>
                  </a>
                </div>
                <!-- Card footer -->
                <div class="card-footer py-3 text-center border-0 position-relative">
                  <a href="#" class="text-xs ls-1 text-uppercase font-weight-bold stretched-link">See all</a>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Core JS  -->
  <%- include('layout/landing-foot.ejs') %>
  <%- include('layout/foot.ejs')%>
    <%- include('layout/footer.ejs')%>