<%- include('layout/header.ejs')%>
    <!-- Main content -->
    <!-- Board -->
    <section class="slice py-5 bg-section-secondary">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <%- include('layout/side.ejs') %>
                </div>
                <div class="col-md-10">
                    <div class="row align-items-center mb-4">
                        <div class="col">
                            <!-- Title -->
                            <h1 class="h5 mb-0">
                                Dashboard
                            </h1>
                        </div>
                    </div>
                    <div class="row mx-n2">
                        <div class="col-sm-6 col-lg-4 px-2">
                            <div class="card mb-3">
                                <!-- Card header -->
                                <div class="card-header pb-3">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div>
                                            <span class="h6">All users</span>
                                        </div>
                                    </div>
                                </div>
                                <!-- Card body -->
                                <div class="card-body pt-0">
                                    <!-- App logo + status -->
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div>
                                            <div class="icon icon-sm">
                                                <img alt="Image placeholder" src="/assets/img/newUser.png" class="svg-inject" style="width: 50px; height: 50px;">
                                            </div>
                                        </div>
                                        <div class="text-right">
                                            <div class="d-flex align-items-center">
                                                <div>
                                                    <span class="badge badge-xs badge-circle rounded-circle badge-success"><i data-feather="check"></i></span>
                                                </div>
                                                <div class="pl-2">
                                                    <small class="h6 text-xs text-success"><%= users%></small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- App title -->
                                    <div class="mt-3">
                                        <h6 class="mb-0"><%= users%></h6>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-lg-4 px-2">
                            <div class="card mb-3">
                                <!-- Card header -->
                                <div class="card-header pb-3">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div>
                                            <span class="h6">All tattoos</span>
                                        </div>
                                    </div>
                                </div>
                                <!-- Card body -->
                                <div class="card-body pt-0">
                                    <!-- App logo + status -->
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div>
                                            <div class="icon icon-sm">
                                                <img alt="Image placeholder" src="/assets/img/qrcode.png" class="svg-inject" style="width: 50px; height: 50px;">
                                            </div>
                                        </div>
                                        <div class="text-right">
                                            <div class="d-flex align-items-center">
                                                <div>
                                                    <span class="badge badge-xs badge-circle rounded-circle badge-success"><i data-feather="check"></i></span>
                                                </div>
                                                <div class="pl-2">
                                                    <small class="h6 text-xs text-success"><%= tattoos %></small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- App title -->
                                    <div class="mt-3">
                                        <h6 class="mb-0"><%= tattoos %></h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Core JS  -->
    <%- include('layout/foot.ejs')%>
	<%- include('layout/footer.ejs')%>