<%- include('layout/header.ejs')%>
    <!-- Main content -->
    <!-- Board -->
    <section class="slice py-5 bg-section-secondary">
        <div class="container">

            <div class="row">
                <div class="col-md-2">
                    <%- include('layout/side.ejs') %>
                </div>
                <div class="col-md-10">
                    <div class="row align-items-center mb-4">
                        <div class="col">
                            <!-- Title -->
                            <h1 class="h5 mb-0">
                                Tattoos
                            </h1>
                        </div>
                        <div class="col-auto">
                            <button type="button" class="btn btn-sm btn-warning btn-icon">
                                <span class="btn-inner--text">Add Tattoo</span>
                                <span class="btn-inner--icon"><i data-feather="plus"></i></span>
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <form action="/admin/tattoos" method="GET">
                                <div class="form-group row">
                                    <div class="col">
                                        <input class="form-control-sm form-control" placeholder="Type the code"
                                            name="code" value="<%= code %>" />
                                    </div>
                                    <div class="col">
                                        <button type="submit" class="btn btn-sm btn-warning">
                                            <span class="btn-inner--icon"><i data-feather="search"></i></span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <!-- <form action="/admin/tattoos" method="GET"> -->
                            <!-- <div class="col">
                                <nav aria-label="...">
                                    <ul class="pagination">
                                        <li class="page-item disabled">
                                            <span class="page-link">Previous</span>
                                        </li>
                                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item active" aria-current="page">
                                            <span class="page-link">
                                                2
                                                <span class="sr-only">(current)</span>
                                            </span>
                                        </li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                                        <li class="page-item">
                                            <a class="page-link" href="#">Next</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div> -->
                    </div>
                    <div class="row mx-n2">
                        <div class="col">
                            <div class="table-responsive">
                                <table class="table table-cards align-items-center">
                                    <thead>
                                        <tr>
                                            <th scope="col" style="min-width: 240px">Image</th>
                                            <th scope="col">Code</th>
                                            <th scope="col">Printed Status</th>
                                            <th scope="col">Active Status</th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% for(var i=0; i < qrs.length; i ++){ %>
                                            <tr>
                                                <td scope="row">
                                                    <div class="media align-items-center">
                                                        <div>
                                                            <div class="avatar-parent-child">
                                                                <img alt="Image placeholder" src="<%= qrs[i].image %>"
                                                                    class="avatar-xl rounded">
                                                            </div>
                                                        </div>
                                                        <div class="media-body ml-4">
                                                            <a href="/tattoo-download/<%= qrs[i].id %>"
                                                                class="action-item mr-2" data-toggle="tooltip"
                                                                title="Download">
                                                                <h3><i data-feather="arrow-down-circle"></i></h3>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <h3>
                                                        <%= qrs[i].code %>
                                                    </h3>
                                                </td>
                                                <td>
                                                    <% if(qrs[i].printed===true) {%>
                                                        <p class="badge badge-success">
                                                            Printed
                                                        </p>
                                                        <% } %>
                                                </td>
                                                <td>
                                                    <% if(qrs[i].link !=="https://skanz.live" ) {%>
                                                        <p class="badge badge-danger">
                                                            Active
                                                        </p>
                                                        <% } %>
                                                </td>
                                                <td class="text-right">
                                                    <!-- Actions -->
                                                    <div class="actions ml-3">
                                                        <a class="action-item mr-2" data-toggle="tooltip" title="Edit">
                                                            <i data-feather="edit-2"></i>
                                                        </a>
                                                        <a class="action-item text-danger mr-2" data-toggle="tooltip"
                                                            title="Move to trash">
                                                            <i data-feather="trash-2"></i>
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                            <% } %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Core JS  -->
    <%- include('layout/foot.ejs')%>
        <%- include('layout/footer.ejs')%>